<tr>
  <td class='log_name'><%= format_date accountability_log.dueby %></td>
  <td class='log_view'><%= link_to 'View', accountability_log_path(accountability_log.id), class: 'btn btn-primary' %></td>
</tr>
