<tr>
  <td class='sheet_name'><%= sign_up_sheet.name %></td>
  <td class='sheet_time'><%= format_date sign_up_sheet.date %> EST</td>
  <td class='sheet_view'><%= link_to 'View', sign_up_sheet_path(sign_up_sheet.id), class: 'btn btn-primary' %></td>
</tr>
