<div class='main-div'>

  <h1 class="display-3"><%= @sign_up_sheet.name %></h1>
  <p class="lead"><%= format_date @sign_up_sheet.date %></p>
  <h2>Attendees</h2>
  <table class="table table-striped table-bordered table-sm">
    <tbody>
      <%= render partial: 'attendee_report', collection: @sign_up_sheet.attendees, as: :attendee or 'No attendees have signed up.'%>
    </tbody>
  </table>
</div>
