<div class='main-div'>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3"><%= @sign_up_sheet.name %></h1>
      <p class="lead"><%= format_date @sign_up_sheet.date %></p>
    </div>
  </div>
  <h2>Attendees</h2>
  
</div>
