<h1>Admin Dashboard</h1>
<ul class="nav nav-pills">
  <%= link_to 'Dashboard', admin_dashboard_path, class: 'nav-item nav-link' %>
  <%= link_to 'Teams', admin_teams_path, class: 'nav-item nav-link' %>
  <%= link_to 'Attendance', admin_attendance_path, class: 'nav-item nav-link' %>
</ul>
<hr>
