<div class="main-div">
  <% if logged_in %>
    <% if current_user.is_admin %>
      <%= link_to new_event_team_team_member_path(params[:event_id], params[:team_id], params[:id]), class: 'btn btn-info pull-xs-right' do %>
        <i class="fa fa-plus"></i> Add a Team Member
      <% end %>
    <% end %>
  <% end %>
  <h1>All Teams for <%= Team.find_by_id(params[:team_id]).name %></h1>
  <table class="table table-striped">
    <tbody>
      <%= render @team_members %>
    </tbody>
  </table>
</div>
