<div class="main-div">
  <input type="text" id="user_search" class="form-control" placeholder="Search by Name">
  <% if logged_in && User.find_by_id(session[:user_id]).is_admin %>
    <h1>Guest Users</h1>
    <table class="table table-striped">
      <tbody>
        <%= render partial: 'user', collection: User.where("rank = ?", 0), as: :user or 'No guests are avalible.'%>
      </tbody>
    </table>
  <% end %>
  <h1>All Members</h1>
  <table class="table table-striped">
    <tbody>
      <%= render partial: 'user', collection: User.where("rank > ?", 0).order('rank DESC'), as: :user %>
    </tbody>
  </table>
</div>
