<div class="main-div">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3"><%= @user.name %></h1>
      <p class="lead"><%= @user.created_at.strftime('Site User Since %Y')%></p>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-12 col-md-4 col-md-push-8'>
      <div class="card">
        <div class="card-block">
          <h4 class="card-title"><%= @user.rank_title %></h4>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class='col-sm-12 col-md-8 col-md-pull-4'>
      <h2>Current Teams</h2>
      <hr>
      <%= render partial: 'team', collection: TeamMember.where('user_id = ?', @user.id), as: :team_member or 'This user is not on any teams.'%>
    </div>
  </div>
</div>
