// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card-max-width {
  width: 15rem;
  height: 18rem;
  float: left;
  flex-wrap: wrap;
  flex: initial;
}

nav {
  margin-bottom: 0px !important;
}

.btn-outline-warning {
  color: #f0ad4e;
  background-image: none;
  background-color: transparent;
  border-color: #f0ad4e;
}

.btn-outline-warning:hover {
  color: white;
  background-color: #f0ad4e;
}

div.cover-photo > img {
  width: 100%;
}

.event-img {
  width: inherit;
  display: flex;
}

.event-btn {
  position: relative;
}

.text-center {
  text-align: center;
}
