// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.modal-dialog {
  max-width: 900px;
}

.is-countdown {
  background-color: transparent;
  border: none;
}

.opening {
  height: 100%;
  width: 100%;
  justify-content: space-between;
  display: flex;
}

.center {
  display: block;
  height: inherit;
  margin-left: auto;
  margin-right: auto;
  vertical-align: text-bottom;
  text-align: center;
}

.title-center {
  text-align: center;
}

.text-center {
  text-align: center;
}

.course-info {
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
  height: 2.5rem;
}


.content-divide {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #205541;
  color: white;
  text-align: center;
  font-size: 24px;
  width: 100%;
}

.quote-img {
  width: 7rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  vertical-align: bottom;
}

.quote-section {
  margin-bottom: 1rem;
}

.gray-section {
  background-color: #ddd;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
}

.officer-section {
  background-color: #ddd;
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
}

.officer-portrait {
  width: 100%;
  height: auto;
  overflow: hidden;
  object-fit: cover;
  display: block;
}

.officer-bio {
  font-size: 14px;
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
  height: 10rem;
}

.officer-symbol {
  width: 100%;
  align: center;
  margin-left: auto;
  margin-right: auto;
}

nav {
  margin-bottom: 0  !important;
}

@media (min-width: 768px) {
  .divider-right {
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #EEE;
    min-height: 10rem;
  }

  .divider-left {
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #EEE;
    min-height: 10rem;
  }
}

@media (min-width: 992px) {
  .officer-section {
    background-color: #ddd;
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    padding-left: 16.6666667%;
    padding-right: 16.6666667%;
    width: auto;
  }
}

@media only screen and (min-width : 768px) {
    .is-table-row {
        display: table;
    }
    .is-table-row [class*="col-"] {
        float: none;
        display: table-cell;
        vertical-align: top;
    }
}
